<form method="post" action="{{ path('user_people_delete', {'id': user_person.id}) }}" onsubmit="return confirm('آیا از حذف این فرد اطمینان دارید؟');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_person.id) }}">
    <button class="btn">حذف</button>
</form>
