{% extends 'base.html.twig' %}

{% block body %}
    <h1>ویرایش فرد</h1>

    {{ include('user_people/_form.html.twig', {'button_label': 'بروزرسانی'}) }}

    <a href="{{ path('user_people_index') }}">بازگشت به لیست</a>

    {{ include('user_people/_delete_form.html.twig') }}
{% endblock %}
