{% extends 'base.html.twig' %}

{% block body %}
    <h1>لیست افراد</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>نام</th>
                <th>ویرایش</th>
            </tr>
        </thead>
        <tbody>
        {% for user_person in user_peoples %}
            <tr>
{#                <td>{{ user_person.id }}</td>#}
                <td>{{ user_person.name }}</td>
                <td>
{#                    <a href="{{ path('user_people_show', {'id': user_person.id}) }}">show</a>#}
                    <a href="{{ path('user_people_edit', {'id': user_person.id}) }}">ویرایش</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">موردی یافت نشد</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_people_new') }}">ثبت فرد جدید</a>
{% endblock %}
