{% extends 'base.html.twig' %}

{% block body %}
    <h1>ثبت فرد جدید</h1>

    {{ include('user_people/_form.html.twig') }}

    <a href="{{ path('user_people_index') }}">بازگشت به لیست</a>
{% endblock %}
