{% extends 'base.html.twig' %}

{% block body %}
    <h1>ویرایش بودجه</h1>

    {{ include('budgets/_form.html.twig', {'button_label': 'بروزرسانی'}) }}

    <a href="{{ path('budgets_index') }}">بازگشت به لیست</a>

    {{ include('budgets/_delete_form.html.twig') }}
{% endblock %}
