{% extends 'base.html.twig' %}
{% block body %}
    <h1>لیست بودجه ها</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>عنوان</th>
                <th>بودجه ماهانه</th>
                <th>تفییر</th>
            </tr>
        </thead>
        <tbody>
        {% for budget in budgets %}
            <tr>
{#                <td>{{ budget.id }}</td>#}
                <td>{{ budget.name }}</td>
                <td>{{ budget.maxBudget }}</td>
                <td>
                    <a href="{{ path('budgets_show', {'id': budget.id}) }}">نمایش</a>
                    <a href="{{ path('budgets_edit', {'id': budget.id}) }}">ویرایش</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">موردی یافت نشد</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('budgets_new') }}">ثبت بودجه جدید</a>
{% endblock %}
