{% extends 'base.html.twig' %}

{% block body %}
    <h1>ثبت بودجه جدید</h1>

    {{ include('budgets/_form.html.twig') }}

    <a href="{{ path('budgets_index') }}">بازگشت به لیست</a>
{% endblock %}
