{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ budget.name }}</h1>

    <table class="table">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ budget.id }}</td>#}
{#            </tr>#}
            <tr>
                <th>عنوان</th>
                <td>{{ budget.name }}</td>
            </tr>
            <tr>
                <th>بودجه به تومان</th>
                <td>{{ budget.maxBudget }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('budgets_index') }}">بازگشت به لیست</a>

    <a href="{{ path('budgets_edit', {'id': budget.id}) }}">ویرایش</a>

    {{ include('budgets/_delete_form.html.twig') }}
{% endblock %}
