<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <div class="sidebar-user-material">
            <div class="category-content">
                <div class="sidebar-user-material-content">
                    <a href="#"><img src="{{ app.user.email|gravatar }}" class="img-circle img-responsive" alt=""></a>
{#                    <h6>{{ app.user.name }} {{ app.user.family }}</h6>#}
{#                    <span class="text-size-small">{{ app.user.username }}</span>#}
                </div>
                <div class="sidebar-user-material-menu">
                    <a href="#user-nav" data-toggle="collapse"><span>حساب کاربری</span> <i class="caret"></i></a>
                </div>
            </div>
            <div class="navigation-wrapper collapse" id="user-nav">
                <ul class="navigation">
                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-user-plus"></i> <span>نمایش پروفایل کاربری</span></a>
                    </li>
                    <li><a href="{{ path('fos_user_profile_edit') }}"><i class="icon-cog5"></i> <span>ویرایش پروفایل کاربری</span></a>
                    </li>
                    <li><a href="{{ path('fos_user_change_password') }}"><i class="icon-cog5"></i>
                            <span>تغییر کلمه عبور</span></a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> <span>خروج</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion" style="min-height: 768px;">
                    <li class="active"><a href="{{ path('dashboard') }}"><span>داشبورد</span></a></li>
                    <li><a href="{{ path('incomes_index') }}"> <span>درآمد ها</span></a></li>
                    <li><a href="{{ path('transactions_index') }}"> <span>هزینه ها</span></a></li>
                    <li><a href="{{ path('budgets_index') }}"> <span>بودجه بندی</span></a></li>
                    <li><a href="{{ path('user_people_index') }}"> <span>مدیریت افراد</span></a></li>
                    <li><a href="{{ path('land_borrow_index') }}"> <span>طلبکاری / بدهکاری</span></a></li>
                    <li><a href="{{ path('transactions_categories_index') }}"> <span>دسته بندی مخارج</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>