{% extends 'dash-base.html.twig' %}
{% block body %}
    <div class="row">
        {#        <div class="col-lg-12" >#}
        {#            <div class="bg-white m-3 p-3 rounded" style="padding: 3em;-webkit-border-radius: 5px;-moz-border-radius:5px ;border-radius:5px ;margin: 2em 0;">#}
        {#                موجودی فعلی :#}
        {#                {{ currentBudget }}#}
        {#                تومان#}
        {#            </div>#}
        {#        </div>#}

        <div class="col-lg-6">

            <div class="row">
                {% for budget in budgets %}
                    <div class="col-lg-4">
                        <div class="bg-white"
                             style="padding: 3em;-webkit-border-radius: 5px;-moz-border-radius:5px ;border-radius:5px ;margin: 2em 0;">
                            <div class="card card-body border-top-primary">
                                <div class="text-center">
                                    <h6 class="mb-0 font-weight-semibold">بودجه {{ budget['title'] }}</h6>
                                    <p class="mb-3 text-muted">
                                        {{ budget['used'] }}
                                        تومان
                                        از
                                        {{ budget['total'] }}
                                        تومان
                                    </p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ budget['cssClass'] }}"
                                         style="width: {{ budget['percent'] }}%">
                                        <span class="sr-only">{{ budget['percent'] }}% مصرف شده</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bg-white m-3 p-3 rounded"
                 style="padding: 3em;-webkit-border-radius: 5px;-moz-border-radius:5px ;border-radius:5px ;margin: 2em 0;">
                <canvas id="myChart" width="400" height="400" style="font-family: 'IRANSans'!important;"></canvas>
            </div>
            <div class="bg-white m-3 p-3 rounded"
                 style="padding: 3em;-webkit-border-radius: 5px;-moz-border-radius:5px ;border-radius:5px ;margin: 2em 0;">
                موجودی فعلی حساب :  {{ currentBudget }} تومان
            </div>
        </div>


    </div>

    <script>
        var ctx = document.getElementById("myChart");

        ctx.height = 500;
        new Chart(document.getElementById("myChart"), {
            "type": "bar",
            "data": {
                "labels": ["مجموع درآمد ها", "مجموع برداشت ها"],
                "datasets": [{
                    // "label": ["مجموع درآمد ها", "مجموع برداشت ها"],
                    "data": [{{ totalIncomesPrice }}, {{ totalTransActionsPrice }}],
                    "fill": false,
                    "backgroundColor": ["#a1c4fd", "#f78ca0"],
                    "borderWidth": 0
                }]
            },
            "options": {
                responsive: true,
                maintainAspectRatio: false,
                "scales": {
                    "yAxes": [

                        // {
                        //     "ticks": {
                        //         "beginAtZero": false
                        //     }
                        // }
                    ],
                    "xAxes": [{
                        barPercentage: 0.4
                    }]
                }
            }
        });


    </script>
{% endblock %}