﻿html, body {
    margin: 0;
    padding: 0;
    direction: rtl;
}
body, table {
    direction: rtl;
    font-family: 'Segoe UI', Tahoma;
    font-size: 14px;
}
.text-bold {
    font-weight: bold;
}
pre {
    direction: ltr;
    margin-top: 10px;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
kbd {
    direction: ltr;
}