{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    {#{{ include('@FOSUser/Security/login_content.html.twig') }}#}
    {% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <form  action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="panel panel-body login-form">
            <div class="text-center">
                <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                <h5 class="content-group">ورود به پرتال</h5>
            </div>

            <div class="form-group has-feedback has-feedback-left">
                <input type="text"  id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" placeholder="{{ 'security.login.username'|trans }}">
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
            </div>

            <div class="form-group has-feedback has-feedback-left">
                <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" placeholder="{{ 'security.login.password'|trans }}">
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn  btn-primary btn-block mt-2">ورود</button>
            </div>

{#            <div class="text-center">#}
{#                <a href="login_password_recover.html">Forgot password?</a>#}
{#            </div>#}
        </div>
    </form>
{% endblock fos_user_content %}
