{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="auth-layout-wrap" style="background-image: url({{ asset('panel/assets/images/photo-wide-4.jpg') }})">
        <div class="col-sm-4">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-4 text-center">
                            <div class="auth-logo text-center mb-4">
                                <img src="{{ asset('panel/assets/images/logo.png') }}" alt="">
                            </div>
                            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                            <p><a href="{{ path('dashboard') }}">Dashboard</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
