{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{#{% include "@FOSUser/Registration/register_content.html.twig" %}#}
    <div class="auth-layout-wrap" style="background-image: url({{ asset('panel/assets/images/photo-wide-4.jpg') }})">
        <div class="col-sm-4">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-4">
                            {% trans_default_domain 'FOSUserBundle' %}
                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                            {{ form_widget(form) }}
                            <div>
                                <input class="btn btn-primary btn-block mt-2" type="submit" value="{{ 'registration.submit'|trans }}" />
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock fos_user_content %}
