{#<form method="post" action="{{ path('land_borrow_delete', {'id': land_borrow.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#    <input type="hidden" name="_method" value="DELETE">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ land_borrow.id) }}">#}
{#    <button class="btn">Delete</button>#}
{#</form>#}
