{% extends 'base.html.twig' %}

{% block body %}
    <h1>ویرایش طلبکاری / بدهکاری</h1>

    {{ include('land_borrow/_form.html.twig', {'button_label': 'بروزرسانی'}) }}

    <a href="{{ path('land_borrow_index') }}">بازگشت به لیست</a>

    {{ include('land_borrow/_delete_form.html.twig') }}
{% endblock %}
