{% extends 'base.html.twig' %}

{% block body %}
    <h1>لیست طلبکاری بدهکاری</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>یادداشت</th>
                <th>طلبکاری یا بدهکاری؟</th>
                <th>تصویه شده؟</th>
                <th>تاریخ ایجاد</th>
                <th>تاریخ تصویه</th>
                <th>تغییرات</th>
            </tr>
        </thead>
        <tbody>
        {% for land_borrow in land_borrows %}
            <tr>
{#                <td>{{ land_borrow.id }}</td>#}
                <td>{{ land_borrow.note }}</td>
                <td>{{ land_borrow.type }}</td>
                <td>{{ land_borrow.isPass ? 'بلی' : 'خیر' }}</td>
                <td>{{ land_borrow.createdAt ? land_borrow.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ land_borrow.passAt ? land_borrow.passAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('land_borrow_show', {'id': land_borrow.id}) }}">نمایش</a>
                    <a href="{{ path('land_borrow_edit', {'id': land_borrow.id}) }}">ویرایش</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">موردی یافت نشد</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('land_borrow_new') }}">ثبت مورد جدید</a>
{% endblock %}
