{% extends 'base.html.twig' %}

{% block body %}
    <h1>ثبت طلبکاری / بدهکاری</h1>

    {{ include('land_borrow/_form.html.twig') }}

    <a href="{{ path('land_borrow_index') }}">بازگشت به لیست</a>
{% endblock %}
