{% extends 'base.html.twig' %}

{% block body %}
    <h1>جزئیات طلبکاری / بدهکاری</h1>

    <table class="table">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ land_borrow.id }}</td>#}
{#            </tr>#}
            <tr>
                <th>یادداشت</th>
                <td>{{ land_borrow.note }}</td>
            </tr>
            <tr>
                <th>نوع</th>
                <td>{{ land_borrow.type }}</td>
            </tr>
            <tr>
                <th>تصویه شده؟</th>
                <td>{{ land_borrow.isPass ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>تاریخ ایجاد</th>
                <td>{{ land_borrow.createdAt ? land_borrow.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>تاریخ تصویه</th>
                <td>{{ land_borrow.passAt ? land_borrow.passAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('land_borrow_index') }}">بازگشت به لیست</a>

    <a href="{{ path('land_borrow_edit', {'id': land_borrow.id}) }}">ویرایش</a>

    {{ include('land_borrow/_delete_form.html.twig') }}
{% endblock %}
