{#<form method="post" action="{{ path('incomes_delete', {'id': income.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#    <input type="hidden" name="_method" value="DELETE">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ income.id) }}">#}
{#    <button class="btn">Delete</button>#}
{#</form>#}
