{% extends 'base.html.twig' %}

{% block body %}
    <h1>ویرایش درآمد</h1>

    {{ include('incomes/_form.html.twig', {'button_label': 'بروزرسانی'}) }}

    <a href="{{ path('incomes_index') }}">بازگشت به لیست</a>

    {{ include('incomes/_delete_form.html.twig') }}
{% endblock %}
