{% extends 'base.html.twig' %}

{% block body %}
    <h1>لیست درآمد ها</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>یادداشت</th>
                <th>تاریخ ثبت</th>
                <th>ویرایش</th>
            </tr>
        </thead>
        <tbody>
        {% for income in incomes %}
            <tr>
{#                <td>{{ income.id }}</td>#}
                <td>{{ income.note }}</td>
                <td>{{ income.createdAt ? income.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('incomes_edit', {'id': income.id}) }}">ویرایش</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">موردی یافت نشد</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('incomes_new') }}">ثبت درآمد جدید</a>
{% endblock %}
