{% extends 'base.html.twig' %}

{% block body %}
    <h1>ثبت درامد جدید</h1>

    {{ include('incomes/_form.html.twig') }}

    <a href="{{ path('incomes_index') }}">بازگشت به لیست</a>
{% endblock %}
