<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>#}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ asset('limitless/assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('limitless/assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('limitless/assets/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('limitless/assets/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('limitless/assets/css/colors.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ asset('limitless/assets/js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('limitless/assets/js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('limitless/assets/js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('limitless/assets/js/plugins/loaders/blockui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('limitless/assets/js/core/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('limitless/assets/js/plugins/ui/ripple.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('font-bundle/font.css') }}">
</head>
<body class="login-container">
<div class="page-container">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
                {% block content %}{% endblock %}
                {% block body %}{% endblock %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
