<!DOCTYPE html>
<html lang="fa">
<head>
    <title>ورود</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animate/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/css-hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animsition/css/animsition.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/select2/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/css/main.css') }}">
</head>
<body dir="rtl">
<style>
    .wrap-login100 {
        width: 390px;
        border-radius: 10px;
        overflow: hidden;
        background: #ffffff;
        padding: 20px;
    }
</style>
<div class="limiter">
    <div class="container-login100" style="background-image: url('{{ asset('login/images/bg-01.jpg') }}');">
        <div class="wrap-login100 p-t-30 p-b-50">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
<script src="{{ asset('login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('login/vendor/animsition/js/animsition.min.js') }}"></script>
<script src="{{ asset('login/vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('login/vendor/select2/select2.min.js') }}"></script>
<script src="{{ asset('login/vendor/daterangepicker/moment.min.js') }}"></script>
<script src="{{ asset('login/vendor/daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ asset('login/vendor/countdowntime/countdowntime.js') }}"></script>
<script src="{{ asset('login/js/main.js') }}"></script>
</body>
</html>