{#<form method="post" action="{{ path('transactions_delete', {'id': transaction.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#    <input type="hidden" name="_method" value="DELETE">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">#}
{#    <button class="btn">Delete</button>#}
{#</form>#}
