{% extends 'base.html.twig' %}

{% block body %}
    <h1>ویرایش هزینه</h1>

    {{ include('transactions/_form.html.twig', {'button_label': 'بروزرسانی'}) }}

    <a href="{{ path('transactions_index') }}">بازگشت به لیست</a>

    {{ include('transactions/_delete_form.html.twig') }}
{% endblock %}
