{% extends 'base.html.twig' %}

{% block body %}
    <h1>لیست هزینه ها</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>یادداشت</th>
                <th>تغییر</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
{#                <td>{{ transaction.id }}</td>#}
                <td>{{ transaction.note }}</td>
                <td>
                    <a href="{{ path('transactions_show', {'id': transaction.id}) }}">نمایش</a>
                    <a href="{{ path('transactions_edit', {'id': transaction.id}) }}">ویرایش</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">موردی یافت نشد</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transactions_new') }}">ثبت هزینه</a>
{% endblock %}
