{% extends 'base.html.twig' %}

{% block body %}
    <h1>ثبت هزینه</h1>

    {{ include('transactions/_form.html.twig') }}

    <a href="{{ path('transactions_index') }}">بازگشت به لیست</a>
{% endblock %}
