{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ transaction.note }}</h1>

    <table class="table">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ transaction.id }}</td>#}
{#            </tr>#}
            <tr>
                <th>یادداشت</th>
                <td>{{ transaction.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transactions_index') }}">بازگشت به لیست</a>

    <a href="{{ path('transactions_edit', {'id': transaction.id}) }}">ویرایش</a>

    {{ include('transactions/_delete_form.html.twig') }}
{% endblock %}
