<form method="post" action="{{ path('transactions_categories_delete', {'id': transactions_category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transactions_category.id) }}">
    <button class="btn">Delete</button>
</form>
