{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit TransactionsCategories</h1>

    {{ include('transactions_categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('transactions_categories_index') }}">back to list</a>

    {{ include('transactions_categories/_delete_form.html.twig') }}
{% endblock %}
