{% extends 'base.html.twig' %}

{% block body %}
    <h1>TransactionsCategories index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transactions_category in transactions_categories %}
            <tr>
                <td>{{ transactions_category.id }}</td>
                <td>{{ transactions_category.name }}</td>
                <td>
                    <a href="{{ path('transactions_categories_show', {'id': transactions_category.id}) }}">show</a>
                    <a href="{{ path('transactions_categories_edit', {'id': transactions_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transactions_categories_new') }}">Create new</a>
{% endblock %}
