{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create new TransactionsCategories</h1>

    {{ include('transactions_categories/_form.html.twig') }}

    <a href="{{ path('transactions_categories_index') }}">back to list</a>
{% endblock %}
