{% extends 'base.html.twig' %}

{% block body %}
    <h1>TransactionsCategories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transactions_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ transactions_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transactions_categories_index') }}">back to list</a>

    <a href="{{ path('transactions_categories_edit', {'id': transactions_category.id}) }}">edit</a>

    {{ include('transactions_categories/_delete_form.html.twig') }}
{% endblock %}
